header {
  height: 420px;
  background-image: url(../../public/images/header/newbanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-position: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bannerlogo {
  background-image: url(../../public/images/header/logo.svg);
  width: 35%;
  height: 200px;
  background-size: cover;
  text-align: center;
  padding-left: 2rem;
  position: relative;
  top: 70px;
}

header h1 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bolder;
  margin-top: 20px;
  padding-left: 4px;
  width: 30%;
  position: relative;
  top: 60px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: white;
  color: black;
}

.burger {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  padding: 0;
  z-index: 10;
}

.burger .line {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
}

.burger.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger.open .line:nth-child(2) {
  opacity: 0;
}

.burger.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu {
  background-color: white;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.menu li {
  margin: 1rem;
}

.menu a {
  color: black;
  font-weight: bold;
  padding-right: 1rem;
  text-decoration: none;
}

.menu a:hover {
  color: goldenrod;
}

.login, .profile, .logout, .admin {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  height: 30px;
  width: 30px;
}

.login {
  background-image: url(../../public/images/header/login_icon.svg);
}

.login a {
  display: block;
  height: 30px;
  width: 30px;
  padding: 0;
}

.profile {
  background-image: url(../../public/images/header/profile.svg);
}

.profile a {
  display: block;
  height: 30px;
  width: 30px;
  padding: 0;
}

.logout {
  background-image: url(../../public/images/header/logout.svg);
}

.logout a {
  display: block;
  height: 30px;
  width: 30px;
  padding: 0;
}

.menu section {
  margin: 1rem;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background: #333;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    z-index: 1;
  }

  .menu.show {
    height: calc(47vh);
  }

  .menu li {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 0.75rem;
  }

  .menu a, .menu button {
    color: white;
  }

  header h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
    padding-left: 4px;
    width: 35%;
    height: 100px;
    position: relative;
    top: 100px;
  }

  .bannerlogo {
    position: relative;
    width: 40%;
    height: 100px;
    top: 100px;
  }

  .logout {
    background-color: #333;
    background-image: url(../../public/images/header/logout_white.png);
    background-size: auto;
    height: 50px;
    width: 50px;
  }

  .profile {
    background-color: #333;
    background-image: url(../../public/images/header/login_white.png);
    background-size: auto;
    height: 50px;
    width: 50px;
  }

  .login {
    background-color: #333;
    background-image: url(../../public/images/header/login_white.png);
    background-size: auto;
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 470px) {
  .burger {
    display: flex;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background: #333;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
  }

  .menu li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .menu.show {
    height: calc(55vh);
  }

  .menu a, .menu button {
    color: white;
  }

  header h1 {
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
    padding-left: 4px;
    width: 50%;
    top: 120px;
  }

  .bannerlogo {
    position: relative;
    width: 50%;
    height: 90px;
    top: 150px;
  }
}


