.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.updateProfile-form {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.updateProfile-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.UpdateProfile {
    width: 100%;
    padding: 10px;
    background-color: #654028;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.UpdateProfile:hover {
    background-color: #BE9472;
}

.DeleteProfile {
    width: 100%;
    padding: 10px;
    background-color: rgb(252, 67, 67);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.DeleteProfile:hover {
    background-color: red;
}

.updateProfile h4 {
    text-align: center;
}

textarea {
    width: 100%
}